apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: reverseproxy
  name: reverseproxy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: reverseproxy
  template:
    metadata:
      labels:
        app: reverseproxy
    spec:
      containers:
        - image: khanhnd33/udagram-reverseproxy:v1
          name: reverseproxy
          imagePullPolicy: Always
          resources:
            requests:
              memory: '428Mi'
              cpu: '250m'
            limits:
              memory: '4048Mi'
              cpu: '500m'
          ports:
            - containerPort: 8080
      restartPolicy: Always
